body {
  min-height: 100vh;
  font-family: Myriad Pro, sans-serif;
}

.turquoise {
  color: $main;
}

.desktop-br {
  display: none;
}

@media (min-width: 1440px) {
  .desktop-br {
    display: inline;
  }

  .appointment-result-bg {
    background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='838px' height='838px'%3E%3Cpath fill-rule='evenodd' fill='rgb(239, 253, 255)' d='M419.000,837.999 C187.593,837.999 0.000,650.406 0.000,418.999 C0.000,187.592 187.593,-0.001 419.000,-0.001 C650.407,-0.001 838.000,187.592 838.000,418.999 C838.000,650.406 650.407,837.999 419.000,837.999 ZM415.953,123.874 C254.643,123.874 123.875,254.642 123.875,415.952 C123.875,577.263 254.643,708.030 415.953,708.030 C577.263,708.030 708.031,577.263 708.031,415.952 C708.031,254.642 577.263,123.874 415.953,123.874 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 940px -311px;
  }

}
