@mixin reset-button {
  background-color: transparent;
  border: none;
}

@mixin reset-margin-padding {
  margin:0;
  padding: 0;
}

@mixin reset-list {
  @include reset-margin-padding;
  list-style: none;
}

@mixin mobile-side-paddings {
  padding-left: 10px;
  padding-right: 10px;
}

@mixin side-paddings ($left, $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin mobile-title {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

@mixin desktop-title {
  font-size: 40px;
  line-height: 42px;
  text-align: left;
}

@mixin product {
  background-color: #ffffff;
  box-shadow: 4.95px 4.95px 20px 0px rgba(0, 0, 0, 0.13);
}

@mixin footer-title {
  @include reset-margin-padding;
  font-size: 18px;
  font-weight: 400;
}

@mixin circle($width, $color) {
  display: block;
  width: $width;
  height: $width;
  border: 1px solid $color;
  border-radius: 50%;
}

@mixin before-icon-in-circle($width, $color) {
  content: "";
  position: absolute;
  @include circle($width, $color);
  background-repeat: no-repeat;
}

@mixin footer-dim {
  color: #2e9ca9;
  text-align: center;
}

@mixin social-change {
  .social__item:nth-child(1) {
    order: 2;
  }
  .social__item:nth-child(2) {
    order: 1;
  }
  .social__item:nth-child(3) {
    order: 0;
  }
  .social__item:nth-child(4) {
    order: 3;
  }
}
