@media (min-width: 320px) {
  .appointment {
    @include mobile-side-paddings;
    padding-top: 20px;
  }

  .appointment__title {
    @include mobile-title;
    @include reset-margin-padding;
    padding: 0 10px;
    margin-bottom: 25px;
    margin-top: 20px;
  }


  .appointment__welcome {
    @include reset-margin-padding;
    font-size: 20px;
    text-align: center;
    margin-bottom: 27px;
  }

  .consultation {
    .appointment__form {
      display: none;
    }
  }

  .appointment__form {
    padding: 0 13px;
  }

  .appointment__input-wrapper {
    margin-bottom: 13px;
  }
  .appointment__input {
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 17px 27px;
    font-style: italic;
    font-size: 20px;

    &::placeholder {
      color: #d5d5d5;
    }
  }
}
