.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 280px;
  height: 68px;
}

.header__burger {
  width: 22px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='17px'%3E%3Cpath fill-rule='evenodd' fill='rgb(60, 180, 194)' d='M-0.000,16.999 L-0.000,13.999 L22.000,13.999 L22.000,16.999 L-0.000,16.999 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(60, 180, 194)' d='M-0.000,9.999 L-0.000,6.999 L22.000,6.999 L22.000,9.999 L-0.000,9.999 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(60, 180, 194)' d='M-0.000,2.999 L-0.000,-0.001 L22.000,-0.001 L22.000,2.999 L-0.000,2.999 Z'/%3E%3C/svg%3E");
  @include reset-button;
  align-self: center;
}

.header {
  @include mobile-side-paddings;
  padding-top: 12px;
}

.header__social, .header__address, .header__call {
  display: none;
}


.header__logo {
  width: 164px;
  height: 41px;
}

.header__modal-menu {
  display: none;
  position: absolute;
  width: 320px;
  left: 0;
  top: 0;
  background-color: $footer;

  &--open {
    display: flex;
  }

  .links3__list {
    display: block;
    margin-bottom: 58px;
  }

  .header__logo {
    margin-bottom: 44px;
  }

  .contacts__title {
    color: #ffffff;
    font-size: 18px;
  }

  .contacts__info {
    color: #ffffff;
  }

  .contacts__item:last-child {
    margin-bottom: 7px;
  }

  @include social-change;
}


@media (min-width: 1440px) {
  .header {
    @include side-paddings ($desktop-left-padding, $desktop-right-padding);
    padding-top: 23px;
    justify-content: flex-start;
  }

  .header__logo {
    width: 270px;
    height: 68px;
  }

  .header__social, .header__address, .header__call {
    display: flex;
  }

  .header__social {
    margin-top: 19px;
    margin-left: 99px;
  }

  .header__address {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: $desktop-main-font;
    letter-spacing: 0.025em;
  }

  .header__call {
    display: flex;
    flex-direction: column;
    margin-left: 78px;
    margin-top: 11px;
    font-size: 24px;
    letter-spacing: 0.025em;
  }

  .header__phone {
    font-size: 24px;
    margin-bottom: -6px;
  }

  .header__link {
    color: $main;
    font-size: 16px;
  }

  .header__burger {
    display: none;
  }
}


