.head_features__title {
  @include reset-margin-padding;
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
}

.head_features__title2 {
  @include reset-margin-padding;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.head_features__list {
  @include reset-list;
  display: flex;

}

.head_features__item {
  display: flex;
}

.head_features{
  @include mobile-side-paddings;
}

.head_features__title2 {
  padding: 0 50px;
  margin-top: 10px;
  padding-bottom: 328px;
}

.head_features__list {
  flex-direction: column;
}

.head_features__item {
  margin-bottom: 35px;
}

.head_features__img {
  margin-right: 20px;
}

.head_features__text {
  @include reset-margin-padding;
  font-size: $mobile-main-font;
  line-height: 24px;
  margin-top: 5px;
}

.head_features__item:first-child .head_features__text{
  margin-top: 15px;
}

@media (min-width: 1440px) {
  .head_features {
    position: relative;
    @include side-paddings ($desktop-left-padding, $desktop-right-padding);
    padding-bottom:140px;
    z-index: 10;
  }

  .head_features__title {
    font-size: 50px;
    text-align: left;
    margin-top: 85px;
  }

  .head_features__title2 {
    font-size: 30px;
    text-align: left;
    margin-top: 3px;
    padding-left: 0;
    padding-bottom: 42px;
  }

  .head_features__list {
    min-width: 550px;
    max-width: 550px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .head_features__item {
    max-width: 265px;
    margin-right: 8px;
    margin-bottom: 28px;
    flex-direction: column;
  }

  .head_features__item:nth-child(1) {
    order: 0;
  }
  .head_features__item:nth-child(2) {
    order: 2;
  }
  .head_features__item:nth-child(3) {
    order: 1;
    margin-top: 7px;
  }
  .head_features__item:nth-child(4) {
    order: 3;
  }

  .head_features__text {
    font-size: 20px;
  }
}
