.indications {
  background-color: rgb(226, 252, 255);
}

.indications__list {
  @include reset-list;
}

.indications {
  @include mobile-side-paddings;
  padding-top: 50px;
  padding-bottom: 35px
}

.indications__title {
  @include reset-margin-padding;
  @include mobile-title;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;
}

.indications__item {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid rgb(218, 218, 218);
  display: flex;
  flex-wrap: wrap;

  &--open {
    border-bottom: none;

    .indications__heading {
      color: #000000;

      &::after {
        background-image: url("img/down-arrow.png");
      }
    }
  }
}

.indications__heading {
  @include reset-margin-padding;
  box-sizing: border-box;
  font-size: $mobile-main-font;
  line-height: 18px;
  font-weight: 400;
  color: $main;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-top: 13px;
  padding-bottom: 13px;

  &::after {
    content: "";
    display: block;
    width: 7px;
    height: 13px;
    padding-right: 5px;
    margin-left: 15px;
    background-image: url("img/back-arrow.png");
    background-repeat: no-repeat;
    align-self: center;
  }
}

  .indications__text--open {
    @include reset-margin-padding;
    margin-top: 5px;
    padding-left: 18px;
    line-height: 20px;
  }

@media (min-width: 1440px) {
  .indications {
    @include side-paddings ($desktop-left-padding, $desktop-right-padding);
    padding-top: 40px;
    background-image: url("img/therapy.png");
  }

  .indications__wrapper {
    width:600px;
  }
  .indications__title {
    @include desktop-title;
    @include reset-margin-padding;
    margin-bottom: 18px;
  }

  .indications__list {
    padding-right: 25px;
  }

  .indications__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .indications__heading {
    font-size: $desktop-main-font;
  }

  .indications__text {
    font-size: $desktop-main-font;
    line-height: 27px;
    margin-top: 0;
  }

  .indications__item--open {
    .indications__heading {
      padding-bottom: 10px;
    }

    .indications__text {
      padding-right: 10px;
   }
  }
}
