@media (min-width: 320px) {
  .medics {
    padding-bottom: 50px;
    margin-bottom: 33px;
  }

  .medics__tittle {
    @include mobile-title;
    @include reset-margin-padding;
    margin-bottom: 24px;
  }

  .medics__about {
    @include reset-margin-padding;
    @include mobile-side-paddings;
    font-size: 20px;
    text-align: center;
    margin-bottom: 14px;
  }

  .medics__item-wrapper {
    @include product;
    box-sizing: border-box;
    margin: 20px auto 20px;
    max-width: 300px;
    padding-top: 22px;
    padding-bottom: 5px;
   }

  .medics__img {
    width: 250px;
    height: 200px;
  }

  .medics__name {
    @include mobile-title;
    @include reset-margin-padding;
    margin-top: 13px;
  }

  .medics__speciality {
    @include reset-margin-padding;
    margin-bottom: 5px;
  }

  .medics__experience {
    @include reset-margin-padding;
    margin-bottom: 22px;
  }

  .medics__button {
    max-width: 270px;
    padding: 18px 25px;
  }

  .medics__controls {
    @include mobile-side-paddings;
    margin-top: -24px;
  }
}

@media (min-width: 1440px) {
  .medics {
    @include side-paddings ($desktop-left-padding, $desktop-right-padding);
  }

  .medics__tittle {
    @include desktop-title;
    margin-top: 137px;
    margin-bottom: 19px;
  }

  .medics__about {
    font-size: 26px;
    text-align: left;
    padding-left: 0;
    margin-bottom: 13px;
  }

  .medics__controls {
    display: none;
  }

  .medics__list {
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: -15px;
    overflow: visible;
    display: flex;
  }

  .medics__list .medics__item {
    width: 370px;
    margin-right: 27px;
  }

  .medics__item-wrapper {
    margin: 0;
    max-width: 370px;
    width: 370px;
    padding-top: 27px;
    padding-bottom: 1px;
  }

  .medics__img {
    width: 311px;
    height: 250px;
    margin-bottom: 10px;
  }

  .medics__name {
    margin-bottom: 21px;
  }

  .medics__speciality {
    font-size: $desktop-main-font;
    margin-bottom: 24px;
  }

  .medics__experience {
    font-size: $desktop-main-font;
    margin-bottom: 33px;
  }

  .medics__button {
    margin-bottom: 30px;
  }
}
