.questions {
  @include mobile-side-paddings;
  margin-bottom: 89px;
}

.questions__title {
  @include mobile-title;
  @include reset-margin-padding;
  margin-bottom: 30px;
}

.questions__list {
  @include reset-list;
}

.questions__item {
  margin-bottom: 12px;
}

.questions__head {
  @include product;
  box-sizing: border-box;
  display: flex;
  padding-top: 16px;
  padding-left: 21px;
  border-left: 2px solid $main;
  padding-bottom: 20px;

}

.questions__marker {
  width: 11px;
  height: 19px;
  margin-right: 10px;
  background-image: url("img/right-arrow.png");
  align-self: center;
  background-repeat: no-repeat;
}

.questions__item--open .questions__marker {
  width: 19px;
  height: 11px;
  margin-right: 7px;
  background-image: url("img/down-arrow-big.png");
  align-self: center;
}

.questions__question {
  @include reset-margin-padding;
  font-weight: 400;
  font-size: 18px;
  color: $main;
  line-height: 21px;
  max-width: 256px;
  padding-right: 10px;
}

.questions__text {
  display: none;
  padding-top: 18px;
  padding-left: 33px;
  line-height: 20px;
  margin-bottom: 26px;
}

.questions__item--open .questions__text {
  display: block;
}

.questions__paragraph {
  @include reset-margin-padding;
  margin-bottom: 10px;
}


@media (min-width: 1440px) {
  .questions {
    @include side-paddings ($desktop-left-padding, $desktop-right-padding);
    padding-top: 98px;
    padding-bottom: 120px;
    display: flex;
    background-image: url("img/feed_girl.png"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='838px' height='838px'%3E%3Cpath fill-rule='evenodd' fill='rgb(238, 252, 254)' d='M419.000,837.999 C187.593,837.999 -0.000,650.406 -0.000,418.999 C-0.000,187.592 187.593,-0.001 419.000,-0.001 C650.407,-0.001 838.000,187.592 838.000,418.999 C838.000,650.406 650.407,837.999 419.000,837.999 ZM415.953,123.874 C254.643,123.874 123.875,254.642 123.875,415.952 C123.875,577.263 254.643,708.030 415.953,708.030 C577.263,708.030 708.031,577.263 708.031,415.952 C708.031,254.642 577.263,123.874 415.953,123.874 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0 346px, 330px 150px;
  }

  .questions__title {
    @include desktop-title;
    width: 450px;
    max-width: 450px;
  }

  .questions__list {
    padding-top: 4px;
    margin-left: 272px;
    margin-left: 272px;
  }

  .questions__item {
    margin-bottom: 16px;
  }

  .questions__head {
    padding-top: 19px;
    padding-left: 26px;
    padding-bottom: 22px;
    border-left-width: 4px;
  }

  .questions__question {
    max-width: 475px;
    font-size: 24px;
    line-height: 27px;
  }

  .questions__text {
    margin-bottom: 35px;
  }

  .questions__marker {
    margin-left: 120px;
  }

  .questions__paragraph {
    font-size: 18px;
    line-height: 27px;
  }
}
