@media (min-width: 320px) {
  .sharova {
    @include mobile-side-paddings;
    padding-top: 25px;
    background-image: url("img/sharova-bg.png");
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }

  .sharova__title {
    @include mobile-side-paddings;
    @include mobile-title;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 31px;
  }


  .sharova__img {
    display: block;
    width: 253px;
    height: 367px;
    margin: auto
  }

  .sharova_name {
    margin-bottom: 30px;

  }

  .sharova__list {
    @include reset-list;
    padding-left: 18px;
  }

  .sharova__archievements {
    position: relative;
    font-size: 16px;
    line-height: 20px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      left: -18px;
      top: 6px;
      background-image: url("img/list-marker.png");
      background-repeat: no-repeat;
    }
  }

  .sharova__button {
    max-width: 270px;
    padding: 18px 25px;
  }

}
