.sharova {
  @include mobile-side-paddings;
  padding-top: 25px;
  background-image: url("img/sharova-bg.png");
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.sharova__title {
  @include mobile-side-paddings;
  @include mobile-title;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 31px;
}


.sharova__img {
  display: block;
  width: 253px;
  height: 367px;
  margin: auto
}

.sharova_name {
  margin-bottom: 30px;

}

.sharova__list {
  @include reset-list;
  padding-left: 18px;
}

.sharova__archievements {
  position: relative;
  font-size: 16px;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    left: -18px;
    top: 6px;
    background-image: url("img/list-marker.png");
    background-repeat: no-repeat;
  }
}

.sharova__button {
  max-width: 270px;
  padding: 18px 25px;
}

@media (min-width: 1440px) {
  .sharova {
    background-image: url("img/sharova_d.png");
    background-repeat: no-repeat;
    padding-right: 133px;
    padding-left: 737px;
    padding-bottom: 70px;
  }

  .sharova__title {
    @include desktop-title;
    padding-left: 0;
    margin-top: 52px;
    margin-bottom: 36px;
  }

  .sharova__img {
    display: none;
  }

  .sharova_name {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 23px;
  }

  .sharova__list {
    padding-left: 47px;
  }

  .sharova__archievements {
    margin-bottom: 25px;
  }

  .sharova__text {
    font-size: 18px;
    line-height: 20px;
  }

  .sharova__button  {
    margin-top: 60px;
    margin-left: 134px;
  }
}
